@charset "UTF-8";

body{
	background-image: url("vril.jpg") ;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

div{
	border: 1px	solid black;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px
	margin-left:80px;
	background-color: transparent;
}