@charset "UTF-8";

	

body{
	background:url("111.jpg"), #000 ;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: justify;
}
body{
	font-family: 'Germania One', cursive;
}


div{
	border: 1px	solid black;
	margin: auto;
	background-color: transparent;
	text-align: justify;
	
}

div{
	background-color: transparent;
	width: 950px;
	border: 50px white;
	padding: 25px;
	margin: top;

}


