@charset "UTF-8";

	

body{
	background:url("111.jpg"), #000 ;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: justify;
	
}
body{
	font-family: 'Germania One', cursive;
}


div{
	border: 1px	solid black;
	margin: auto;
	background-color: transparent;
	text-align: justify;
	
}

div{
	background-color: transparent;
	width: 950px;
	border: 50px white;
	padding: 25px;
	margin: top;

}


p{
	margin-bottom: 20px;
}

header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}
nav {
  float: left; 
}
 
nav ul {
  list-style: none;
  overflow: hidden; 
}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
nav ul li a {
  display: block; 
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
 
nav ul li:hover {
  background: #3ead47;
}

.contenido {
  padding-top: 80px;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
